<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FRS_Flight</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.wipro.FRS.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.wipro.FRS.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleFlight</display-name>
    <servlet-name>ScheduleFlight</servlet-name>
    <servlet-class>com.wipro.FRS.controller.ScheduleFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleFlight</servlet-name>
    <url-pattern>/ScheduleFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>com.wipro.FRS.controller.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFlightServlet</display-name>
    <servlet-name>ShowFlightServlet</servlet-name>
    <servlet-class>com.wipro.FRS.controller.ShowFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFlightServlet</servlet-name>
    <url-pattern>/ShowFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.wipro.FRS.controller.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordUser</display-name>
    <servlet-name>ChangePasswordUser</servlet-name>
    <servlet-class>com.wipro.FRS.controller.ChangePasswordUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordUser</servlet-name>
    <url-pattern>/ChangePasswordUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreDataServlet</display-name>
    <servlet-name>StoreDataServlet</servlet-name>
    <servlet-class>com.wipro.FRS.controller.StoreDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreDataServlet</servlet-name>
    <url-pattern>/StoreDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyBookingServlet</display-name>
    <servlet-name>MyBookingServlet</servlet-name>
    <servlet-class>com.wipro.FRS.controller.MyBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyBookingServlet</servlet-name>
    <url-pattern>/MyBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelBookingServlet</display-name>
    <servlet-name>CancelBookingServlet</servlet-name>
    <servlet-class>com.wipro.FRS.controller.CancelBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelBookingServlet</servlet-name>
    <url-pattern>/CancelBookingServlet</url-pattern>
  </servlet-mapping>
</web-app>